@import "variables.less";


html, body, ul, li, tr, td, a, div, p, span {
    padding:    0;
    margin:     0;
}

#page_wrapper, body, html {
    height:     100%;
    overflow:   hidden;
}

#content_wrapper {
    border: 1px solid green;
    height: 100%;
}

#provider_header_wrapper {
    height:  @headerHeight;
}

#banner_wrapper {
    height: @headerHeight;
}

#user_section_wrapper {
    border: 1px solid red;
    height: @headerHeight;
}

#menu_and_content_section {
    margin-top: 1em;
    height:     100%;
}

#menu_section {
    height:             100%;
    background-color:   #eee;
}

#main_content_section {
    border: 1px dashed #000;
}

#dashboard_main_table td {
    padding:    1em;
}

//Main menu
.main_menu_item {
    margin:     1em 0;
    padding:    1em 0;
    text-align: center;
}

.main_menu_item a {
    white-space:normal !important;
    word-wrap:break-word;
}